<%- include("../partials/header") %>

<div class="container">
	<div class="row justify-content-around">
		<div class="col-sm-10 col-md-8 col-lg-6 m-5">
			<h1>
				Add Comment to <%= campground.name %>
			</h1>
			<form action="/campgrounds/<%= campground._id %>/comments" method="POST" class="my-5">
				<div class="form-group">
					<input type="text" class="form-control" name="comment[text]" placeholder="review">
				</div>
				<button type="submit" class="btn btn-block btn-primary">Submit</button>
			</form>
			<a href="/campgrounds/<%= campground.id%>">Go Back</a>
		</div>	
	</div>
</div>

<%- include("../partials/footer") %>