<%- include("../partials/header") %>

<div class="container justify-content-center mt-3">
	<header class="jumbotron card">
		<div class="container">
			<h1>Welcome to YelpCamp!</h1>
			<p>View our handpicked campgrouds from all over the world.</p>
			<a class="btn btn-primary" href="/campgrounds/new">Add New Campground</a>
		</div>
	</header>
	
	<div class="row">
		<% campgrounds.forEach(function(campground){ %>
			<div class="col-sm-12 col-lg-3">
				<div class="card text-center mb-3">
					<img src="<%= campground.image %>" class="card-img-top img-fluid image-responsive">
					<div class="card-body">
    					<h5 class="card-title p-2"><%= campground.name %></h5>
    					<a href="/campgrounds/<%= campground._id%>" class="btn btn-primary">More Info</a>
  					</div>
				</div>
			</div>
		<% }); %>
	</div>
</div>

<%- include("../partials/footer") %>