<%- include("../partials/header") %>

<div class="container mt-5">
	<div class="row">
		<div class="col-md-3">
			<div class="container m-3">
				<p class="lead">
					YelpCamp
				</p>
				<div class="list-group">
					<li class="list-group-item active">Info 1</li>
					<li class="list-group-item">Info 1</li>
					<li class="list-group-item">Info 1</li>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="container m-3">
				<div class="card">
					<img class="card-img-top embed-responsive-item" src="<%= campground.image %>">
					<div class="caption-full">
						<h4 class="float-right p-3">
							$9.00/night
						</h4>
						<h4 class="pt-3 pl-3">
							<a><%= campground.name %></a>
						</h4>
						<p class="pl-3">
							<em>Submitted By <%= campground.author.username %></em>
						</p>
						<p class="p-3">
							<%= campground.description %>
						</p>
						<!-- If the the user is logged in (there is a session) and they own the campground. -->
						<% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
							<a class="btn btn-light float-left m-3" 
							   href="/campgrounds/<%=campground._id%>/edit">Edit Campground</a>
							<form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
								<button type="submit" class="btn btn-light float-right m-3">Delete Campground</button>
							</form>
						<% } %>
					</div>
				</div>
			</div>
			<div class="container m-3">
				<div class="card">
					<div class="p-3">
						<h4 class="float-left">
							Reviews
						</h4>
						<a class="btn btn-primary float-right" 
						   href="/campgrounds/<%=campground._id%>/comments/new">Add Review</a>
					</div>
					<hr>
					<% campground.comments.forEach(function(comment){ %>
						<div class="row">
							<div class="container m-3">
								<strong><%= comment.author.username %></strong>
								<span class="float-right">10 Days Ago</span>
								<div class="container my-1 p-0">
									<%= comment.text %>
								</div>
								<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
									<a class="btn btn-sm btn-light float-left m-0" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit Review</a>
									<form action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
										<button type="submit" class="btn btn-sm btn-light float-right m-0">Delete Review</button>
									</form>
								<% } %>
							</div>
						</div>
					<% }); %>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>